@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #07010c;
}
.cylinder {
    perspective: 1000px;
    position: relative;
    width: 100px;
    height: 8px;
    margin: 50px auto;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
    transition: all 1s ease;
    box-shadow: 3px 3px 20px rgba(247, 247, 247, 0.3);
    background-color: #EFD36B;
  }
  
  
  .top, .bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(204, 202, 202);
    transform-style: preserve-3d;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
  }
  
  .top {
    top: 0;
    transform: rotateX(90deg) translateZ(50px);
    background-image: url(images/pic.png);
    background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  }
  
  .bottom {
    bottom: 0;
    transform: rotateX(-90deg) translateZ(50px);
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
  }

  .button{
    width: 160px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(221, 161, 161, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #099bb4;
    cursor: pointer;
  }
  .button img{
    width: 36px;
    height: 36px;
  }

  
